:root {
    --size: 10vh;
}

body {
    background-color: beige;
    font-family: 'Courier New', Courier, monospace;
}

#board {
    display: grid;
    grid-template-columns: repeat(8, var(--size));

    float: left;

    margin-right: 1em;
}

#about {
    font-weight: bold;
}

#about ul {
    list-style-position: inside;
}

#undo {
    border: none;
    background: none;
    float: left;
}

#undo:hover {
    cursor: pointer;
}

#undo img {
    width: 5em;
}

.cell {
    width: var(--size);
    height: var(--size);

    font-size: calc(var(--size) - 10px);
    text-align: center;

    user-select: none;
}

.cell img {
    width: var(--size);

    pointer-events: none;
}

.selected {
    background-color: steelblue !important;
}

.possible {
    background-color: aquamarine !important;
}

.white {
    background-color: gainsboro;
}

.black {
    background-color: gray;
    color: white;
}